<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="flask handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python34\python.exe|C:\cygwin64\media\sf_Python\TSDP\web\wfastcgi.py" resourceType="Unspecified" requireAccess="Script"/>
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="c:\cygwin64\media\sf_python\tsdp\web" />
        <add key="WSGI_HANDLER" value="app.app" />
    </appSettings>
</configuration>
