{% extends 'base.html' %}
{% load staticfiles %}

{%  block head %}
    <title>Global Systems Management</title>
    <style>
        #ranking_chart {
          width: 100%;
         /* height: 500px;*/
        }    
        .amcharts-balloon-div div{
            font-size: 16px!important;
        } 
        #ranking_chart g path{
            stroke: #ccc!important;
        }         

        #ranking_chart a {
            display: none !important;
        }
        .amcharts-export-menu{
            display: none !important;
        }
        .amcharts-scrollbar-horizontal{
            display:none !important;
        }
        div#s2 {
            display: none;
        }
        #tools {
          position: absolute;
          top: 30px;
          left: 70px;
          z-index: 100;
          padding: 10px;
          background: rgba(0, 0, 0, 0.1);
        }
        .btn_color button:first-child {
            background-color: #0B850C;
            color: #fff;
            border: 2px solid #0B850C;
        }

        .btn_color button:last-child {
            background-color: #0000FF;
            color: #fff;
            border: 2px solid #0000FF;
        }

        .btn_color button:nth-child(2) {
            background-color: #F7C143;
            border: 2px solid #F7C143;
        }
        .x-axis-label {
            font-weight: bold;
            font-size: 14px;
            margin-left: 72px;
        }
        .chart_loader{
            display:none;
        }
        .chart_loader {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        top: 0px;
        z-index: 9999;
        width: 100%;
        height: 100%;
        }

        .chart_loader:before {
        background-color: rgba(0,0,0,0.7);
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        border-radius: 10px 10px 0px 0px;
        }

        .chart_loader img {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        margin: 0 auto;
        top: 40%;
        width: 50px;
        }
    </style>
{% endblock %}

{% block content %}
<base href="/board">
{% if user.is_authenticated %}
    <bet-app><img src="static/images/ajax-loading-large.gif"></bet-app>
    <script src="{% static 'js/libs.min.js' %}"></script>
    <script src="{% static 'js/libsutil.min.js' %}"></script>
    <script src="{% static 'js/bundle.min.js' %}"></script>

    <!-- Performance Chart -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

    <!-- Ranking Chart -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/gantt.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/none.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/amstock.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

    <script src="{% static 'js/custom.js' %}"></script>
{% else %}
    <h1>Please login/Register</h1>
{% endif %}


{% endblock %}


